<header>
  <button id="init_page_btn">заметки</button>
  <button id="copy_code_btn">копировать код</button>
  <button id="logout_btn">выйти</button>
  <button id="delete_account_btn">удалить аккаунт</button>
</header>