header {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*background: #ffffff;*/
    /*height: 80px;*/
    /*width: 100%;*/
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* страница авторизации */

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fbcfae;
    font-family: 'Balsamiq Sans', cursive;
    width: 400px;
    margin-top: 50px;
}

.login_text {
    margin: 7px;
    font-size: large;
}

#register_btn{
    background-color: #f59148;
    border-color: #f26f11;
    margin: 5px;
    font-family: 'Balsamiq Sans', cursive;
}

#auth_input {
    border-color: #f26f11;
    margin: 5px;
    font-family: 'Balsamiq Sans', cursive;
}

#auth_btn {
    background-color: #f59148;
    border-color: #f26f11;
    margin: 5px;
    font-family: 'Balsamiq Sans', cursive;
}

/* страница всех заметок */
/*   #f1e00e  #f6eb62   */
#add_note_btn {

}

#all_notes {

}

/**/

#note_head {

}

#note_date {

}

#watch_note_btn {

}

#delete_note_btn {

}

#note_title {

}

#note_text {

}

/* страница просмотра заметки */

#view_page {

}

#view_btns {

}

#edit_view_btn {

}

#delete_view_btn {

}

#view_note_content {

}

#view_title {

}

#view_text {

}

/* страница редактирования заметки */

#edit_page {

}

#change_show_block {

}

#edit_change_block {

}

#edit_change_title {

}

#edit_change_text {

}

#edit_show_block {

}

#edit_show_title {

}

#edit_show_text {

}

#save_edit_btn {

}