<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="keywords" content="Notes">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Nunito:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="scripts/login.js"></script>
</head>
<body>
<main>
  <div id="login">
    <p class="login_text">Первый раз?</p>
    <button id="register_btn">начать</button>
    <p class="login_text">Ввести код</p>
    <input id="auth_input" type="text" value="" placeholder="Код">
    <button id="auth_btn">начать</button>
  </div>
</main>
</body>
</html>