<!DOCTYPE html>
<html lang="ru">
<head>
  {{>head}}
  <script type="module" src="scripts/view.js"></script>
</head>
<body>
<main>
{{>header}}
  <div id="view_btns">
    <button id="edit_view_btn">изменить</button>
    <button id="delete_view_btn">удалить</button>
  </div>
  <div id="view_note_content">
    <p id="view_title"></p>
    <p id="view_text"></p>
  </div>
</main>
</body>
</html>